.header{
padding: 10px 16px;
background-color: white;
color: #f1f1f1;
position: fixed;
top: 0;
width: 100%
}

.konten{
	padding:16px;
	background-color:white;
text-align:center;
width:80%;
margin-left:100px;
z-index:-2;
}

.header + .konten {
	padding-top: 102px;
}

footer {
	text-align:center;
	background-color:black;
	color:white;
    position: fixed;
    bottom:0; 
 }
 
nav{
	float:right;
}
logo{
	float:left;
	position:fixed;
}

ul {
	list-style:none;
	position:relative;
}

h3{
	text-align:left;
}

a {
	text-decoration:none;}

#p1{
	text-align:left;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:black;
}

#home{
float:right;
margin-right:30px;
}

#about{
float:right;
margin-right:30px;
}

#contact{
float:right;
margin-right:30px;
}

body{
	background-image:url("../img/pattern.jpg")
}

footer{
width:100%}

h5{
position:relative;}

#formkontak{
margin: 10px 0 50px 0;
}
	
ol p {
	display:inline;
	font: normal .8em Arial, Helvetica, sans-serif;
	color: #000000;
}
#jenisk{
font-weight:bold;}

#abouth1{
	text-align:center;
}

.kontakh1{
	text-align:center;
}

.kontakdetail{
	font-weight:bold;
}

#cwk2{
	margin-left:106px;
}